li {
  list-style: none;
  border: 1px solid black;
  font-size: 1.5em;
  padding: 20px;
  margin-left: -20px;
  margin-top: 10px;
  height: auto;
}

.fav, .del{
  float: right;
  margin-right: 20px;
  width: 38px;
  height: 38px;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 5em;
  text-align: center;
}

li:hover {
  background: #66FFCC
}

.button.success {
  background: #006600;
  color: white;
}
