li {
  list-style: none;
  border: 1px solid black;
  font-size: 1.5em;
  padding: 20px;
  margin-left: -20px;
  margin-top: 10px;
  height: auto;
}

.fav, .del, .down, .up {
  float: right;
  margin-right: 20px;
  width: 38px;
  height: 38px;
}

h1 {
  font-family: "Coiny", sans-serif;
  font-size: 5em;
  text-align: center;
  padding-top: 300px;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

header {
  background: url("jeffgoldblum.jpg");
  background-size: cover;
  height: 500px;
  width: auto;
  margin-bottom: 20px;
}

li:hover {
  background: #66FFCC
}

.button.success {
  background: #006600;
  color: white;
}
